.footer__wrap {
    position: absolute;
    bottom: 0;
    width: 100%;

    .footer__cont{
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: 20px auto 20px;
      align-items: center;
    }
    
  img {
    width: 120px;    
  }
}
